@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic,cyrillic-ext,latin-ext');

body {
    margin: 0px;
    background-image: url(../img/main/fon.jpg);
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    background-attachment: fixed;
}

a {
    text-decoration: none;
}

a:active {
    background: transparent;
}


section {}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
}


#navigation {
    height: 10vh;
    background-color: rgba(255, 255, 255, 0.7);
}



.nav_mobile {
    width: 100%;
    background: #fff;
    position: fixed;
    z-index: 9;
    border-bottom: 2px solid rgba(87, 87, 87, 0.7);
}

.nav_mobile_left,
.nav_mobile_center,
.nav_mobile_right {
    display: flex;
    float: left;
    padding-left: 0px;
    padding-right: 0px;
}

.nav_mobile_left_button {
    height: 10vh;
    width: 20vw;
    border: 0px;
    background: #fff;
}

.nav_mobile_left_button_ham {
    border-top: 5px solid #8c6940;
    margin: 0.6vh 4vw;
}

.nav_mobile_center_a {
    display: block;
    margin: 0 auto;
}

.nav_mobile_center_a_img {
    width: 30vw;
    height: 9vh;
}

.nav_mobile_right_a {
    display: block;
    margin-left: auto;
    width: 20vw;
    height: 10vh;
    background: #fff;
}

.nav_desktop_right_a {
    display: none;
}

.nav_mobile_right_a_img {
    width: 10vw;
    height: 5vh;
    margin: 0 auto;
    margin-top: 2.5vh;
    display: block;
}

/*Block1*/

.block1_offer {
    background: url(../img/main/background_mobile.jpg) center no-repeat;
    background-size: cover;
    height: 85vh;
    border: 0px;
    border-top: 1px solid transparent;
}

.block1_offer_h1 {
    text-align: left;
    margin-top: 20vh;
    font-size: 9vw;
    color: #fff;
    margin-left: 5vw;
    font-weight: 700;
    text-transform: uppercase;
}

.block1_offer_h2 {
    color: #fff;
    font-weight: 400;
    font-size: 7vw;
    margin-left: 5vw;
    margin-top: 10vw;
}

.block1_offer_img {
    width: 18vw;
    position: absolute;
    bottom: 10vh;
    left: 41vw;
}


/*Block2*/

.block2_products {
    border: 0px;

}

.block2_products_header {
    height: 10vh;
    background: #fff;
}

.block2_products_header_title {
    text-align: center;
    margin: 0px;
    color: #444444;
    padding-top: 3.5vh;
    font-weight: 700;
    font-size: 5vw;
}

.block2_products_item {
    background: #fff;
    border: 1px solid #efe6dc;
    padding: 0px;
    max-width: 48vw;
    margin: 0 auto;
}



.block2_products_item_a {}

.block2_products_item_a_img {
    width: 100%;
}

.block2_products_item_a_desc {}

.block2_products_item_a_desc_p {
    font-size: 2.2vh;
    margin: 0px;
    color: #000;
    margin-bottom: 1.5vh;
    margin-left: 1vw;
    text-decoration: none !important;

}

.block2_products_item_a_desc_black {
    font-size: 2.5vh;
    margin: 0px;
    color: #000;
    margin-bottom: 0.5vh;
    margin-left: 1vw;
    font-weight: 500;
    text-decoration: none !important;
}

.block2_products_item_a_desc_button {
    display: block;
    margin: 0 auto;
    width: 30vw;
    background: -webkit-linear-gradient(top, #8c6940, #bf9c73);
    text-align: center;
    padding: 2.5vw;
    color: #fff;
    box-shadow: inset 0 -3px 0 0 #8d6536;
    border-radius: 5px;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.block2_products_more {
    height: 10vh;
    width: 100vw;
    background: -webkit-linear-gradient(top, #facc0e, #8c2600);
    box-shadow: inset 0 -3px 0 0 #8d6536;

}

.block2_products_more_button {
    font-size: 6vw;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding-top: 3vh;
    color: #fff;
    font-weight: 700;
    text-shadow: 0px 0px 1px;
}

/*Block3*/


.block3_advantages {}

.block3_advantages_item {
    background: #fff;
    padding: 0;
    padding-bottom: 2vh;
    border-bottom: 2px solid rgba(36, 36, 36, 0.3);
}

.block3_advantages_item_header {
    text-align: center;
    font-size: 9vw;
    margin: 0;
    padding: 2vh;
}

.block3_advantages_item_image {
    display: block;
    margin: 0 auto;
    width: 80vw;
}

.block3_advantages_item_text {
    text-align: center;
    font-size: 5vw;
    margin: 1vh 2vw;
}

.block3_advantages_item_textaddition {
    text-align: left;
    font-size: 3vw;
    margin: 2vh 2vw;
}

.block3_advantages_item_zone {
    padding: 0;
}

.block3_advantages_item_zone_header {
    text-align: center;
    font-size: 7vw;
    margin: 0;
    padding: 2vh;
    font-weight: 500;
}

.block3_advantages_item_zone_map {
    height: 50vh !important;
}

.block3_advantages_item_manufacturers {
    background: -webkit-linear-gradient(top, #8c6940, #bf9c73);
    box-shadow: inset 0 -3px 0 0 #8d6536;
    color: #fff;
    width: 80vw;
    height: 7vh;
    display: block;
    text-align: center;
    font-size: 6vw;
    padding-top: 1.3vh;
    margin: 0 auto;
    border-radius: 5px;

}

.block3_advantages_item_credit {
    background: -webkit-linear-gradient(top, #8c6940, #bf9c73);
    box-shadow: inset 0 -3px 0 0 #8d6536;
    color: #fff;
    width: 80vw;
    height: 7vh;
    display: block;
    text-align: center;
    font-size: 5vw;
    padding-top: 2vh;
    margin: 0 auto;
}

/*Block4*/

.block4_form {
    background: #fff;
}

.block4_form_header {
    text-align: center;
    font-size: 9vw;
    margin: 0;
    padding: 2vh;
}

.block4_form_text {
    text-align: center;
    font-size: 5vw;
    margin: 1vh 2vw;
    font-weight: 400;
    margin-bottom: 0;
    padding-bottom: 1vh;
}

.block4_form_button {
    width: 70vw;
    margin: 0 auto;
    display: block;
    height: 7vh;
    background: -webkit-linear-gradient(top, #8c6940, #bf9c73);
    box-shadow: inset 0 -3px 0 0 #8d6536;
    color: #fff;
    font-size: 5vw;
    border: 0;
    border-radius: 5px;
}

/*Footer*/


footer {
    background: #8d6536;
}

.footer_hrefs {
    border-bottom: 2px solid #fff;
}

.footer_hrefs_ul {
    padding: 0;
    margin: 0;
}

.footer_hrefs_li {
    list-style-type: none;
    padding: 2vh 0;
}

.footer_hrefs_li_a {
    color: #fff;
    text-decoration: none;
    font-size: 5.5vw;
    font-weight: 400;

}

.footer_address {
    border-bottom: 2px solid #fff;
}

.footer_address_header {
    color: #fff;
    font-size: 8vw;
    margin: 2vh 0;
    font-weight: 500;
}

.footer_address_a p {
    color: #fff;
    margin: 2vh 0;
    font-size: 5vw;
}

.footer_address_a_call {
    float: left;
    width: 5vw;
    margin-left: 18vw;
    margin-right: 3vw;
}

.footer_messengers {
    display: block;
    margin: 0 auto;
}

.footer_address_a {
    padding: 0;

}

.footer_address_a_img {
    width: 18%;
    margin: 2vh 7%;
}

.footer_messengers_header {
    display: none;
}


.footer_social {
    background: #45321b;

}

.footer_social_header {
    color: #fff;
    font-size: 5vw;
    text-align: center;
    padding-top: 2vh;
}

.footer_social_instagram {
    text-align: center;
    margin: 2vh 0;
    text-decoration: underline;
    color: #fff;
    font-size: 7vw;
    margin-bottom: 0;
    padding-bottom: 2vh;
}

/*Text pages*/

.block1_content {
    background: #fff;
}

.block1_content_header {
    text-align: center;
    font-size: 5.5vh;
    padding-top: 2vh;
    margin-bottom: 2vh;

}

.block1_content_text {
    padding: 2vh 6vw;
    font-size: 4.5vw;

}

.block1_content_text_black {
    font-weight: 500;
}

.block1_content_text_href {
    text-decoration: underline;
    color: #8c6940;
}

.block1_content_text_italic {
    font-style: italic;
    font-size: 4vw;
}

.block1_content_subheader {
    margin: 4vh 6vw;
    font-size: 6vw;
    font-weight: 500;
}


/*Catalog*/

.block1_catalog {

    background: #FFF;
}

.block1_catalog_product {
    padding: 0;
    float: left;
    background: #fff;
    border: 1px solid rgba(102, 102, 102, 0.5);
    max-width: 48vw;

}

.block1_catalog_product_image {
    width: 100%;
}

.block1_catalog_product_image_img {
    width: 100%;
}

.block1_catalog_product_description {}

.block1_catalog_product_description_name {
    font-size: 4.5vw;
    color: #111;
    font-weight: 500;
    padding: 1vh 1vw;
}

.block1_catalog_product_description_text {
    color: #111;
    padding: 1vh 1vw;
    font-size: 4vw;
}


/*Product*/

.block1_product {
    background: #fff;
}

.block1_product_header {
    font-size: 8vw;
    margin-left: 7vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.block1_product_main_image {
    height: 38vh;
    display: block;
    margin: 0 auto;
    padding-bottom: 2vh;
}

.block1_product_add_images {
    width: 90%;
    margin: 0 auto;
    padding: 0 0vw;
    margin-bottom: 2vh;
}

.block1_product_add_images_block {
    padding: 0;
    border: 1px solid rgba(128, 128, 128, 0.1);
    cursor: pointer;


}

.block1_product_add_images_block_image {
    display: block;
    margin: 2vh auto;
    height: 7vh;
    margin-bottom: 2vh
}

.block1_product_price {
    font-size: 7vw;
    padding-bottom: 2vh;
    padding-left: 5vw;

}

.block1_product_price_black {
    font-weight: 500;

}

.block1_product_description {}

.block1_product_description_header {
    font-size: 7vw;
    padding-bottom: 1vh;
    padding-left: 5vw;
}

.block1_product_description_table {
    width: 90vw;
    margin: 0 auto;
    margin-bottom: 2vh
}

.block1_product_description_table_row {}

.block1_product_description_table_row_left {
    font-size: 5vw;
    width: 50%;
    border: 1px solid black;
    padding: 10px;
    vertical-align: middle;
}

.block1_product_description_table_row_right {
    font-size: 4vw;
    border: 1px solid black;
    padding: 10px;
    vertical-align: middle;
}

.block1_product_request_text {
    font-size: 5vw;
    text-align: center;
    margin-bottom: 3vh;
}

.block1_product_buy {
    width: 70vw;
    margin: 0 auto;
    display: block;
    height: 7vh;
    background: -webkit-linear-gradient(top, #8c6940, #bf9c73);
    box-shadow: inset 0 -3px 0 0 #8d6536;
    color: #fff;
    font-size: 5vw;
    border: 0;
    border-radius: 5px;

}

.block1_product_credit {
    font-size: 4.5vw;
    padding: 2vh 5vw;
}

.block1_product_credit_black {
    font-weight: 500;
    font-size: 5vw;
}

.block1_product_homecredit {
    display: block;
    margin: 0 auto;
    width: 25vw;
    padding-bottom: 2vh
}


/*Mobile menu*/

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 10;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.6);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fff;
    margin: 0 0 auto;
    /* 15% from the top and centered */
    padding: 20px;
    width: 75%;
    /* Could be more or less, depending on screen size */
    height: 100vh;
}


/* The Close Button */
.close {
    color: #3d3d3d;
    float: right;
    font-size: 15vw;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.mobile_nav_open {
    margin-top: 10vh;
}

.mobile_nav_open_ul {}

.mobile_nav_open_li {
    padding: 5vh 0;
    text-align: center;
}

.mobile_nav_open_li_a {
    color: black;
    font-size: 5vw;
    font-weight: 500;
}

.mobile_nav_open_logo {
    width: 35vw;
    display: block;
    margin: 2vh auto;
}

/*Modal Form Request*/

/* The Modal (background) */
.request_modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.request_modal-content {
    background-color: #fefefe;
    margin: 50% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button */
.request_close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.request_close:hover,
.request_close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.request_modal_text {
    text-align: center;
    font-size: 6vw;
    margin-top: 5vh;
}

.request_modal_form {
    width: 90%;
    margin: 0 auto;
}

.request_modal_form_input {
    width: 70vw;
    display: block;
    margin: 0 auto;
    margin-bottom: 3vh;
    margin-top: 3vh;
    height: 6vh;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid rgba(140, 105, 64, 0.8);
}

.request_modal_form_button {
    width: 100%;
    margin-top: 3vh;
    height: 6vh;
    margin-bottom: 3vh;
    background: -webkit-linear-gradient(top, #8c6940, #bf9c73);
    box-shadow: inset 0 -3px 0 0 #8d6536;
    color: #fff;
    font-size: 5vw;
    border: 0;
    border-radius: 5px;
}

/*Media tags*/

@media(min-width: 1279px) {
    .block1_offer {
        height: 90vh;
    }

    .block1_offer_h1 {
        text-align: center;
        margin-top: 15vh;
        font-size: 4.5vw;
        color: #fff;
        margin-left: 0;
        font-weight: 700;
        text-transform: uppercase;
    }

    .block1_offer_h2 {
        color: #fff;
        font-weight: 400;
        font-size: 3vw;
        margin-left: 5vw;
        margin-top: 7vw;
        text-align: center;
        width: 60%;
        margin: 9vh auto;
    }

    .block1_offer_img {
        width: 5vw;
        position: absolute;
        bottom: 0vh;
        left: 48vw;
    }

    .block2_products_header {
        height: 14vh;
        background: #fff;
    }

    .block2_products_header_title {
        text-align: center;
        margin: 0px;
        color: #444444;
        padding-top: 3.5vh;
        font-weight: 700;
        font-size: 3.5vw;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
    }

    .block2_products_item_a_desc_button {
        width: 15vw;
        padding: 1vw;
    }

    .block2_products_item {
        border: 2px solid #efe6dc;
    }

    .block2_products_item_a_desc_p {
        font-size: 3.2vh;
        margin: 0px;
        color: #000;
        margin-bottom: 1.5vh;
        margin-left: 1vw;
        text-decoration: none !important;
    }

    .block2_products_item_a_desc_black {
        font-size: 3.7vh;
    }


    .block2_products_more {
        height: 10vh;
        width: 30vw;
        margin: 0 auto;
        background: -webkit-linear-gradient(top, #facc0e, #8c2600);
        box-shadow: inset 0 -5px 0 0 #8d6536;
    }

    .block2_products_more_button {
        font-size: 2.2vw;
        display: block;
        margin: 0 auto;
        text-align: center;
        padding-top: 3vh;
        color: #fff;
        font-weight: 700;
        text-shadow: 0px 0px 1px;
    }

    .block3_advantages_item_header {
        text-align: center;
        font-size: 4vw;
        margin: 0 auto;
        padding: 4vh;
        font-weight: 500;
        width: 60%;
    }

    .block3_advantages_item_image {
        display: block;
        margin: 1vh auto;
        height: 20vh;
    }

    .block3_advantages_item_text {
        text-align: center;
        font-size: 2.5vw;
        margin: 1vh 2vw;
        width: 70%;
        margin: 0 auto;
    }

    .block3_advantages_item_textaddition {
        text-align: center;
        font-size: 1.5vw;
        margin-top: 3vh;
    }

    .block3_advantages_item_zone_header {
        text-align: center;
        font-size: 3.5vw;
        margin: 0;
        padding: 2vh;
        font-weight: 500;
    }

    .block3_advantages_item_zone_map {
        height: 70vh !important;
    }

    .block3_advantages_item_manufacturers {
        background: -webkit-linear-gradient(top, #8c6940, #bf9c73);
        box-shadow: inset 0 -5px 0 0 #8d6536;
        color: #fff;
        width: 25vw;
        height: 7vh;
        display: block;
        text-align: center;
        font-size: 1.8vw;
        padding-top: 1.7vh;
        margin: 2vh auto;
    }

    .block4_form_header {
        text-align: center;
        font-size: 4vw;
        margin: 0;
        font-weight: 500;
        padding: 2vh;
    }

    .block4_form_text {
        text-align: center;
        font-size: 2vw;
        margin: 1vh 2vw;
        font-weight: 400;
        margin-bottom: 0;
        padding-bottom: 3vh;
        width: 70%;
        margin: 0 auto;
        padding-top: 1vh;
    }

    .block4_form_button {
        width: 20vw;
        margin: 0 auto;
        display: block;
        height: 8vh;
        background: -webkit-linear-gradient(top, #8c6940, #bf9c73);
        box-shadow: inset 0 -5px 0 0 #8d6536;
        color: #fff;
        font-size: 2vw;
        border: 0;
    }

    .footer_address_header {
        color: #fff;
        font-size: 3vw;
        margin: 0;
        font-weight: 500;
        text-align: center;
    }

    .footer_hrefs {
        height: 42vh;
        z-index: 1;
        float: left;
        border: 0;
    }

    .footer_hrefs_li_a {
        color: #fff;
        text-decoration: none;
        font-size: 2vw;
        font-weight: 400;
    }

    .footer_address {
        height: 40vh;
        z-index: 1;
        float: left;
        border: 0;
    }

    .footer_address_a_call {
        float: left;
        width: 2vw;
        margin-left: 0vw;
        margin-right: 1vw;
    }

    .footer_address_a p {
        color: #fff;
        margin: 4vh 0;
        font-size: 2vw;
    }

    .footer_address_phone {
        display: block;
        margin-left: 5vw;
        margin-top: 6vh;
    }

    .footer_messengers {
        z-index: 1;
        float: left;
        display: block;
        margin: 0 auto;
    }

    footer {
        height: 45vh;
        padding-top: 3vh;
        background: #8d6536;
    }

    .footer_social {
        border-top: 2px solid #fff;
        float: left;
    }

    .footer_social_header {
        color: #fff;
        font-size: 2vw;
        text-align: center;
        padding-top: 2vh;
        width: 60%;
        margin: 0 auto;
    }

    .footer_social_instagram {
        text-align: center;
        margin: 2vh 0;
        text-decoration: underline;
        color: #fff;
        font-size: 4vw;
        margin-bottom: 0;
        padding-bottom: 4vh;
    }

    .footer_messengers_header {
        display: block;
        color: #fff;
        font-size: 3vw;
        margin: 0;
        font-weight: 500;
        text-align: center;
    }

    .footer_address_a_img {
        width: 18%;
        margin: 10vh 7%;
    }

    .footer_hrefs_ul {
        padding: 0;
        margin: 0;
        margin-left: 2vw;
    }

    .block1_content_header {
        text-align: center;
        font-size: 10vh;
        padding-top: 2vh;
        margin-bottom: 2vh;
    }

    .block1_content_text {
        padding: 2vh 20vw;
        font-size: 2vw;
    }

    .block1_content_subheader {
        margin: 4vh 25vw;
        font-size: 3vw;
        font-weight: 500;
        text-align: center;
    }

    .block1_content_text_italic {
        font-style: italic;
        font-size: 2vw;
    }

    .block1_catalog_product_description_name {
        font-size: 2.2vw;
        color: #111;
        font-weight: 500;
        padding: 1vh 1vw;
    }

    .block1_catalog_product_description_text {
        color: #111;
        padding: 1vh 1vw;
        font-size: 2vw;
    }

    .block1_product_header {
        font-size: 4vw;
        margin-left: 0;
        padding-top: 2vh;
        padding-bottom: 2vh;
        text-align: center;
        border-bottom: 2px solid rgba(87, 87, 87, 0.7);
    }

    .block1_product_images {
        float: left;
        padding-top: 20vh;
    }

    .block1_product_right {
        float: left;
        padding-top: 5vh;
    }

    .block1_product {
        height: 145vh;
        background: #fff;
    }

    .block1_product_price {
        font-size: 2vw;
        padding-bottom: 2vh;
        padding-left: 5vw;
    }

    .block1_product_description_header {
        font-size: 2vw;
        padding-bottom: 1vh;
        padding-left: 5vw;
    }

    .block1_product_description_table {
        width: 40vw;
        margin: 0 5vw;
        margin-bottom: 2vh;
    }

    .block1_product_description_table_row_left {
        font-size: 1.3vw;
        width: 50%;
        border: 1px solid black;
        padding: 10px;
        vertical-align: middle;
    }

    .block1_product_description_table_row_right {
        font-size: 1.3vw;
        border: 1px solid black;
        padding: 10px;
        vertical-align: middle;
    }

    .block1_product_buy {
        width: 20vw;
        margin: 0 auto;
        display: block;
        height: 7vh;
        background: -webkit-linear-gradient(top, #8c6940, #bf9c73);
        box-shadow: inset 0 -3px 0 0 #8d6536;
        color: #fff;
        font-size: 2vw;
        border: 0;
        border-radius: 5px;
    }

    .block1_product_credit {
        font-size: 1.5vw;
        padding: 2vh 5vw;
    }

    .block1_product_credit_black {
        font-weight: 500;
        font-size: 2vw;
    }

    .block1_product_homecredit {
        display: block;
        margin: 0 auto;
        width: 7vw;
        padding-bottom: 2vh;
    }

    .block1_product_main_image {
        height: 60vh;
        display: block;
        margin: 0 auto;
        padding-bottom: 2vh;
    }

    .block1_product_add_images_block_image {
        display: block;
        margin: 2vh auto;
        height: 9vh;
        margin-bottom: 0vh;
    }

    .nav_mobile_left_button {
        height: 10vh;
        width: 12vw;
        border: 0px;
        background: #fff;
    }

    .mobile_nav_open_logo {
        width: 20vw;
        display: block;
        margin: 2vh auto;
    }

    .mobile_nav_open_li {
        padding: 3vh 0;
    }

    .mobile_nav_open_li_a {
        color: black;
    font-size: 2.8vw;
    font-weight: 500;
    padding-left: 0vw;
    }

    .nav_mobile_right_a {
        display: none;
    }

    .nav_desktop_right_a {
        display: block;
        display: flex;
        font-size: 1.3vw;
        width: 100%;
        padding-top: 4vh;
        font-weight: 700;
        color: #8c6940;
    }

    .block1_product_request_text {
        font-size: 1.7vw;
        text-align: center;
        margin-bottom: 3vh;
    }

    .request_modal_form_input {
        width: 20vw;
        display: block;
        margin: 0 auto;
        margin-bottom: 3vh;
        margin-top: 3vh;
        height: 6vh;
        padding: 10px;
        border-radius: 5px;
        border: 2px solid rgba(140, 105, 64, 0.8);
    }
    
    .close {
    color: #3d3d3d;
    float: right;
    font-size: 7vw;
    font-weight: bold;
}

}
